<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" (click)="switchType('horizontalBar')">Bar Chart</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" (click)="switchType('doughnut')">Doughnut Chart</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" (click)="switchType('line')">Line Chart</a>
        </li>
    </ul>
<div>
<h4 class="page-title">{{chartLabel | uppercase}}</h4>
<ngx-chartjs [data]="data" [type]="type" redraw="true"></ngx-chartjs>
<div class="container">
  <ul class="nav nav-tabs">
      <li class="nav-item">
      <a class="nav-link" (click)="getData('disks')">Disks</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" (click)="getData('nics')">NICs</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" (click)="getData('memory')">Memory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getData('cpus')">CPUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getData('services')">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getData('plugins')">Plugins</a>
      </li>
  </ul>
<div>

