.nav-item {
    cursor: pointer;
    color: white;
    background-color: gray;
    margin: 5px;
}
.nav {
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.nav-tabs {
  border-bottom: unset;
}
